.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}



.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%;

}

.card-info {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

.card {
  padding: 20px;
  height: 400px;
  width: 450px;
  border: 2px;
  text-align: center;
  background-color: grey;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 10px;
  padding: 35px 15px 15px 15px;

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.card-info-item {
  font-weight: bold;
  padding: 0;  
}


.card-info {
  padding: 0;
  // margin: 20px 0;
}

.gallery__image {
  width: 90%;
  height: 80%;
  max-height: 500px;
  object-fit: cover;
}


.searchinput {
  width: 60%;
  display: block;
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
  color: #333;
  box-shadow:
    inset 0 2px 0 rgba(0, 0, 0, 0.2),
    0 0 4px rgba(0, 0, 0, 0.1);
    
  
}

.searchinput:focus {
  outline: none;
  box-shadow:
    inset 0 2px 0 rgba(0, 0, 0, 0.2),
    0 0 4px rgba(0, 0, 0, 0.1),
    0 0 5px 1px #51CBEE;
}


input[type="radio"]:focus {
  outline: none;
  /* Убираем стандартную обводку при фокусировке */
  position: relative;
  /* Устанавливаем позицию элемента как относительную */
}

input[type="radio"]:focus::before {
  content: "";
  /* Добавляем пустой контент */
  position: absolute;
  /* Устанавливаем позицию псевдоэлемента как абсолютную */
  top: 0px;
  /* Отступ псевдоэлемента сверху */
  left: -0px;
  /* Отступ псевдоэлемента слева */
  right: 0.15px;
  /* Отступ псевдоэлемента справа */
  bottom: 0px;
  /* Отступ псевдоэлемента снизу */
  border-radius: 50%;
  /* Устанавливаем радиус границы псевдоэлемента как 50% (круг) */
  box-shadow: -0 -0 5px 1px #51CBEE;
  /* Неоновая тень псевдоэлемента */
  pointer-events: none;
  /* Отключаем события мыши для псевдоэлемента, чтобы клики проходили через него */
}











.is-hidden {
    display: none !important;
}

.btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #673ab7;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #512da8;
    /* цвет заднего фона при наведении */
  }
}

.switcher {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 0px 0px;
}

.radiolabel {
  display: flex;
  gap: 40px;
  margin: 15px 0 0 0;
}


