<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <!-- <button name="search" type="submit">Search</button> -->

  <div class="frame">
    <!-- <button class="custom-btn btn-5" name="search" type="submit">
      <span>Read MoreSearch</span>
    </button> -->
    <button class="custom-btn btn-9">Search</button>
  </div>

  <p class="gallery"></p>
  <!-- <button class="loadMore">Load more</button> -->
</form>
<!-- <button class="loadMore btn-5">Load more</button> -->

<div class="frame">
  <!-- <button class="custom-btn btn-5" name="search" type="submit">
    <span>Read MoreSearch</span>
  </button> -->
  <button class="custom-btn btn-5 loadMore">
    <span>LoadMore...</span>
  </button>
</div>
